<html> <!-- need to have this in template folder or else it shits itself, and have the python outside-->
        <head> <!-- head stores info, the title bit is the tab text --> 
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <ling rel="stylesheet" href="{{ url_for('static', filename='css/main.css')   }}">
        </head> <!-- the / means end the part, in this case the head, and at the bottom its the whole page-->

            <body> <!--body means the text you actually see on the website-->
               <!-- between these two we are inserting our relevant-->
                {% block header %}{% endblock %}
                <!--p is paragraphing-->
                {% block text %}{% endblock %}
                
            </body>







</html>