{% extends 'base.html' %}

{% block header %}
<h1>Wafer factory</h1>
<p>Playing as {{ username }}</p>
{% endblock %}

{% block text %}
<!doctype html>
<title>jQuery Example</title>
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
var intervalID = setInterval(update_values,1000);
  function update_values() {
      $.getJSON($SCRIPT_ROOT + '/_waferrequest',

      function(data) {
        $('#Wafers').text(data.Wafers);
        $('#Multiplier').text(data.Multiplier);
        console.log(data)
      });

    };

   
    
    
    function stopTextColor() {
      clearInterval(intervalID);
    }
    
</script>
<body onload="update_values();">
<h1>Wafers</h1>
<!--variable is displayed as paragraph-->
<p>
    <span id="Wafers">?</span>
<script>
document.getElementById("Wafers").innerHTML;
</script>
<br>
<button onclick="stopTextColor();">Stop updating</button>
<h1>Multiplier</h1>
<p>{{ multiplier }}</p>

	
  </body>
<h1>Buildings</h1>
<form method="POST" action="{{ url_for('waferfactory') }}">
  {{ form.csrf_token }}
  <h2>Buy</h2>
  <p>Buy a building</p>
  <p>(enter 0 in layer to buy the highest layer, enter 0 in amount to get max amount)</p>
  <p>Layer</p>
  {{ form.text }}
  <p>Amount</p>
  {{ form.text2 }}
  <br>
  <input type="submit" value="Buy">
{% for x in buildingnames %}
  <p>{{ buildingnames[loop.index0] }}</p>
{% endfor %}
{% endblock %}
